@{
    ViewData["Title"] = "About Me";
}
<section class="about-me">
    <h2 class="fade-in-up" style="color: black; text-align: center; margin-bottom: 3%; font-size: 50px;">Professionalal Summary</h2></>

    <div style="
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
    color: #333;
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);">

        <p>
            Results-driven Web Developer with expertise in C#, .NET, and modern front-end technologies.
            Over 3 years of hands-on experience delivering scalable, responsive, and user-friendly web applications and
            enterprise solutions.

        </p>
    </div>
    <div class="row">
        <div class="col-md-4 fade-in-up" style="animation-delay: 0.1s;">
            <div class="card skill-card">
                <div class="card-body text-center">
                    <h5 class="card-title">Backend Development</h5>
                    Expertise in C#, .NET Core, Entity Framework, and microservices architecture with AWS cloud infrastructure for scalable and maintainable backend solutions.
                </div>
            </div>
        </div>
        <div class="col-md-4 fade-in-up" style="animation-delay: 0.1s;">
            <div class="card skill-card">
                <div class="card-body text-center">
                    <h5 class="card-title">Frontend Development</h5>
                    Skilled in HTML, CSS, Blazor, Bootstrap, and modern UI frameworks to craft responsive, intuitive, and user-friendly interfaces.
                </div>
            </div>
        </div><div class="col-md-4 fade-in-up" style="animation-delay: 0.1s;">
    <div class="card skill-card">
        <div class="card-body text-center">
            <h5 class="card-title">Database & Devops</h5>
            Proficient with PostgreSQL, MySQL, and MSSQL, along with deployment automation and cloud infrastructure management to ensure robust, reliable applications.


        </div>
    </div>
</div>
    </div>
</section>




