@{
    ViewData["Title"] = "Experience";
}

<section class="about-me">
    <div class="container">
        <h2 class="fade-in-up" style="color: black; text-align: center; margin-bottom: 3%; font-size: 50px;">Work Experience</h2></>
        <div class="card slide-edge-left" style="margin-bottom:3%;background-color:lightgray;">
    <div style="text-align:center;margin-top:2%;margin-bottom:2%;">
            <h5>Backend Developer</h5>
            <p>Onrois Infotech • Surat, Gujarat</p>
            <p>07/2024 - Present</p>
            <p style="padding: 15px; border-radius: 10px; color: #333; margin-top: 10px;box-shadow: 0 2px 8px rgba(0,0,0,0.1); ">
                Specializing in mobile and web solutions, delivering custom apps and MVP development for startups.<br/>
                Turning ideas into scalable digital products ensuring quick market entry and reliable performance.<br/>
                Active presence through website and professional networks, sharing insights, launches, and case studies.<br/>
            </p>
        </div>
    </div>
    <div class="card slide-edge-right"style="background-color: lightgray;" >
        <div style="text-align:center; margin-top:2%;margin-bottom:2%;">
            <h5>Backend Developer</h5>
            <p>Sky9 IT Craft Private Limited • Rajkot, Gujarat</p>
            <p>10/2022 - 06/2024</p>
            <p style="padding: 15px; border-radius: 10px; color: #333; margin-top: 10px;box-shadow: 0 2px 8px rgba(0,0,0,0.1); ">
                Developed and maintained web applications using .NET Core, Blazor, and JavaScript.<br />
                Optimized database queries to improve efficiency and response times.<br />
                Collaborated with cross-functional teams following Agile methodologies and best practices.<br>
                Mentored interns, guiding them through learning and project onboarding.<p/><br />

        </div>
            </div>

    </div>
</section>
