@{
    ViewData["Title"] = "Skills";
}
@*<a href="#" class="btn btn-primary mt-3">View Project</a>*@

<section class="about-me">
    <div class="container">
        <h3 class="fade-in-up" style="color: black; text-align: center; margin-bottom: 3%; font-size: 50px;">Areas of Expertise</h3></>
        <div class="row">
            <div class="col-md-3 fade-in-up" style="animation-delay: 0.1s;">
                <div class="card skill-card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Backend Technologies</h5>
                        <ul class="skill-list">
                            <li>ASP.NET Core</li>
                            <li>Web API</li>
                            <li>Entity Framework</li>
                            <li>MVC</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 fade-in-up" style="animation-delay: 0.3s;">
                <div class="card skill-card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Fronted Technologies</h5>
                        <ul class="skill-list">
                            <li>CSS</li>
                            <li>HTML</li>
                            <li>Javascript</li>
                            <li>Bootstraps</li>
                            <li>Razor</li>
                            <li>Blazor</li>
                            <li>JQuery</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 fade-in-up" style="animation-delay:0.5s;">
                <div class="card skill-card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Database Management</h5>
                        <ul class="skill-list">
                            <li>MySql</li>
                            <li>Microsoft SQL Server</li>
                            <li>Postgres</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 fade-in-up" style="animation-delay:0.7s;">
                <div class="card skill-card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Cloud & Devoops</h5>
                        <ul class="skill-list">
                            <li>Git</li>
                            <li>Zira</li>
                            <li>AWS</li>
                            <li>Azure</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>



    </div>

    </section>


